.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.list_item {
    padding: 10px 16px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_item:hover {
    border-bottom: 1px solid blueviolet;
    background-color: rgb(238, 236, 236);
}

.delete-btn {
    background: none;
    border: none;
    outline: none;
    color: red;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
}

.delete-btn:hover {
    color: rgb(175, 0, 0);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-info_name {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.contact-info_number {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.contact-info_label {
    color: gray;
}