.user_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    display: block;
    font-size: 50px;
    padding-right: 15px;
    color: rgb(48, 48, 48);
    line-height: 80px;
    border-right: 1px solid blueviolet;
}

.link:hover,
.link:focus {
    color: blueviolet;
}

.activeLink {
    color: blueviolet;
}

.logout_btn {
    color: white;
    background-color: blueviolet;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.logout_btn:hover {
    border: 2px solid blueviolet;
    background-color: rgb(167, 108, 221);
}